@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body,
html {
  height: 100%;
  font-family: "Roboto";
}

.fill {
    min-height: 100%;
    height: 100%;
}

.bg-Nav {
    background-color: #1c1c1c;
}

.h-6 {
    height: 60px;
}

a {
    text-decoration: none;
    display: block;
}

.navItem {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: large;
    height: 100%;
}

.navItem:hover, .navItem a:hover {
    background-color: white;
    color: #0075FF;
    transition: background-color 0.5s ease-in-out;
    transition: color 0.5s ease-in-out;
}

.selectedNavItem {
    background-color: white;
    color: #0075FF;
    
}

img {
    pointer-events: none;
    user-select: none;
}

.phone {
    position: absolute;
    z-index: 3;
    width: 320px; 
}

.myFace {
    position: absolute;
    z-index: 1; 
    width: 285px; 
}

.likeBtn {
    position: absolute;
    pointer-events: all;
    width: 60px;
    margin-top: 265px;
    margin-left: 235px;
    transition: transform 0.3s ease-in-out;
    z-index: 2;
    cursor: pointer;
}

.likeBtn:hover {
    transform: scale(1.5);
}

.phoneContent {
    z-index: 2;
    width: 300px;
    position: absolute;
}

.phoneTopText {
    margin-top: 5px;
    color: white;
    font-size: 10px;
}

.bigGap {
    margin-top: 270px;
}

.altText {
    color: #8a8a8a;
    font-size: 15px;
}

.test1 {
    background-color: red;
}